<!doctype html>
<html lang="en">

<head>
    <title>Live Streaming Demonstration</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
</head>

<body>
    <h1>Online Examination</h1>
    <div id="container">
        <img id="feed" src="{{ url_for('video_feed_student') }}">
    </div>
    <ol>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html1" name="fav_language1" value="HTML">
                <label for="html1">HTML</label><br>
                <input type="radio" id="css1" name="fav_language1" value="CSS">
                <label for="css1">CSS</label><br>
                <input type="radio" id="javascript2" name="fav_language1" value="JavaScript">
                <label for="javascript1">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html2" name="fav_language2" value="HTML">
                <label for="html2">HTML</label><br>
                <input type="radio" id="css2" name="fav_language2" value="CSS">
                <label for="css2">CSS</label><br>
                <input type="radio" id="javascript2" name="fav_language2" value="JavaScript">
                <label for="javascript2">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html3" name="fav_language3" value="HTML">
                <label for="html3">HTML</label><br>
                <input type="radio" id="css3" name="fav_language3" value="CSS">
                <label for="css3">CSS</label><br>
                <input type="radio" id="javascript3" name="fav_language3" value="JavaScript">
                <label for="javascript3">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html4" name="fav_language4" value="HTML">
                <label for="html4">HTML</label><br>
                <input type="radio" id="css4" name="fav_language4" value="CSS">
                <label for="css4">CSS</label><br>
                <input type="radio" id="javascript4" name="fav_language4" value="JavaScript">
                <label for="javascript4">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html5" name="fav_language5" value="HTML">
                <label for="html5">HTML</label><br>
                <input type="radio" id="css5" name="fav_language5" value="CSS">
                <label for="css5">CSS</label><br>
                <input type="radio" id="javascript5" name="fav_language5" value="JavaScript">
                <label for="javascript5">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html6" name="fav_language6" value="HTML">
                <label for="html6">HTML</label><br>
                <input type="radio" id="css6" name="fav_language6" value="CSS">
                <label for="css6">CSS</label><br>
                <input type="radio" id="javascript6" name="fav_language6" value="JavaScript">
                <label for="javascript6">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html7" name="fav_language7" value="HTML">
                <label for="html7">HTML</label><br>
                <input type="radio" id="css7" name="fav_language7" value="CSS">
                <label for="css7">CSS</label><br>
                <input type="radio" id="javascript7" name="fav_language7" value="JavaScript">
                <label for="javascript7">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html8" name="fav_language" value="HTML">
                <label for="html8">HTML</label><br>
                <input type="radio" id="css8" name="fav_language" value="CSS">
                <label for="css8">CSS</label><br>
                <input type="radio" id="javascript8" name="fav_language" value="JavaScript">
                <label for="javascript8">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html9" name="fav_language" value="HTML">
                <label for="html9">HTML</label><br>
                <input type="radio" id="css9" name="fav_language" value="CSS">
                <label for="css9">CSS</label><br>
                <input type="radio" id="javascript9" name="fav_language" value="JavaScript">
                <label for="javascript9">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
        <li>
            <p>When does the browser stop rendering the HTML?<br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>
            </p>
        </li>
    </ol>
    <a class="btn btn-primary" href="{{ url_for('index')}}">Stop Proctoring</a>

</body>

</html>